
$sg-lightgrey:  #d7d7d7;
$sg-teal: #43a88f;
$sg-font: 'Source Sans Pro', sans-serif;



/* GENERAL */
body, html {
  margin: 0;
}

@media (max-width: 700px) {
  p {
    font-size: 12px;
  }
  .headerLinks {
    div {
      font-size: 12px;
    }
  }
}
/*======= HEADER ======= */
header {
 background-color: black;
 margin: 0;
 height: 150px;
 border-bottom: 3px solid $sg-teal;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100px;
  margin-top: 20px;
  padding-right: 20px
}
.logo {
  padding-top: 15px;
  padding-left: 40px;
}

.resources {
  color: $sg-lightgrey;
  height: 100px;
}

.about {
  border-right: 1px solid $sg-lightgrey;
  text-align: right;
  height: 100px;
}
.about, .resources {
  padding: 0px 10px;
}

.resourcesH6 {
  text-decoration: underline;
}
h6 {
  color:$sg-lightgrey;
  margin-bottom: 0px;
 }

h6:hover {
  color: $sg-teal;
  cursor: pointer;
}
li a {
  color:$sg-lightgrey;
  font-size: 12px;
}

li {
  list-style: none;
}

/*======= MAIN =======*/
main {
  font-family: $sg-font;
  margin-bottom: 70px;
  margin-top: 20px;

}
.mainContent {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* ======== Banner ======== */

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
  margin: 10px 10px 20px 10px;
  align-items: baseline;
  .adidas {
    width: 220px;
    height: 220px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    margin-right: 30px;
  }
}

/*======== Newletter ======== */
.newsletterDiv {
  display: flex;
  width: 70%;
  height: 200px;
  margin: auto;
  margin-top: 10px;
  background-color: black;
  color: $sg-lightgrey;
  border-radius: 3px;
  font-weight: $sg-font;
}


.email {
  color: $sg-lightgrey;
}

.newsletter {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  margin: auto;
  width: 65%;
}

.newsletterImage {
  height: 200px;
  border-color: white;
  width: 35%;
  min-width: 300px;
  max-width: 300px;
}

.newsletter {
  p {
    margin: 0;
    margin-top: 10px;
  }
}

/*======= LOCATIONS =======*/
.locations {
  width: 55%;
  height: 600px;
}

.locationsList {
  -webkit-box-shadow: -11px 10px 9px -9px rgba(0,0,0,0.38);
  -moz-box-shadow: -11px 10px 9px -9px rgba(0,0,0,0.38);
  box-shadow: -11px 10px 9px -9px rgba(0,0,0,0.38);
  border-radius: 3px;

}
.listTitle {
  color: $sg-teal;
  background-color: black;
  width: 100%;
  margin: 0;
  height: 40px;
  padding-top: 5px;
  border-radius: 3px;
}

.add {
  background-color: black;
  height: 40px;
  border-radius: 3px;
}

.addBtn {
  color: $sg-teal;
  border: none;
  font-size: 20px;
  padding-top: 5px;
  width: 150px;
  margin: 0;
}

.addBtn:hover {
  font-size: 22px;
  cursor: pointer;
}

.addRow {
  margin: 0;
  background-color: black;
}

.searchBar {
  padding: 5px;
}

.searchDiv {
  padding-top: 5px;
  margin: 10px 0px;
}

.locationsTable {
  overflow: auto;
  height: 460px;
}

.locationName:hover, .seeFullListIcon:hover {
  color: $sg-teal;
  cursor: pointer;
}

.trash, .editBtn {
  color: $sg-teal;
}

.editBtn:hover, .trash:hover, {
  cursor: pointer;
}

/* ======Location Forms ==============*/

.submit {
  background-color: white;
  border: none;
  color: $sg-teal;
  padding: 7px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.submit:hover {
  border: 1px solid $sg-teal;
}


/* ====== Location Show Page ========= */
.indivLocation {
  padding: 0px 10px 10px 10px;
}

.seeFullListIcon {
  padding: 5px 0 0 5px;
}

.pShowName {
  font-size: 18px;
  color: $sg-teal;
  padding-left: 5px;
}
.pShow {
  font-size: 18px;
  color: $sg-teal;
  padding: 5px;
}

.showItem {
  color: black;
  font-size: 15px;
}

.friendliness {
  padding-left: 30px;
}
.thumb {
 padding-left: 10px;
}


/*====== fake ads ======= */


/*==========Footer========*/
footer {
  height: 70px;
  background-color: black;
  color: $sg-teal;
  text-align: center;
  margin-top: 20px;
  .container {
    padding-top: 15px;
    a {
      color: $sg-teal;
    }
    img {
      height: 20px;
    }
  }
}



/* CREDITS */

/* Logo created at Wix.com */
/* Box shadow created at https://www.cssmatic.com/box-shadow */
